* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url(../images/catbg.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title {
    display: block;
    text-align: center;
    margin-top: 50px;
}

.title h1 {
    color: #ff0096;
    font-size: 3.5em;
    display: block;
    text-align: center;

    margin: -10px auto 30px auto;
    padding: 10px 20px;
    background-color: rgba(18, 18, 18, 0.6);
    border: 2px solid #fff000;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    border-radius: 5px;
    max-width: 1100px;
}

.title p {
    color: #fff000;
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 0, 150, 0.8);
    margin: -10px auto 30px auto;
    padding: 10px 20px;
    background-color: rgba(18, 18, 18, 0.6);
    border: 2px solid #fff000;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    border-radius: 5px;
    max-width: 700px;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    margin: 40px auto;

    border: none;
    border-style: none;
    border-color: #fff000;
    border-radius: 8px;
    gap: 1px;
    background-color: transparent;
}

.cats-pics {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.squares {
    transition: all 0.30s ease-in-out;
}

.squares:hover {
    filter: drop-shadow(0 0 10px white);
    box-shadow: 0 0 40px white;
    transform: scale(1.05);
    z-index: 10;
    position: relative;
}

.breed-name {
    color: #ff0096;
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
    margin-top: 10px;
    text-shadow: 0 0 15px rgba(255, 0, 150, 1);
    display: block;
}

.information-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.6);
    border: 1px solid #fff000;

}

.breed-video {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 2px;
    border-style: solid;
    border-color:  #fff000;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}

.breed-history {
    background-color: rgba(33, 33, 33, 0.9);
    padding: 20px;
    margin-bottom: 25px;
    border-left: 5px solid #ff0096;
    border-radius: 5px;
}

.breed-history h2 {
    color: #fff000;
    border-bottom: 1px solid rgba(255, 215, 0, 0.3);
    padding-bottom: 5px;
    margin-top: 0;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.6);
}

.breed-history p {
    color: white;
    line-height: 1.6;
}

.breed-history h5 {
    color: white;
    line-height: 1.5;
    border-top: 1px solid white;
    padding-top: 10px;
}

.breed-coat {
    background-color: rgba(33, 33, 33, 0.9);
    padding: 20px;
    margin-bottom: 25px;
    border-left: 5px solid #ff0096;
    border-radius: 5px;
}

.breed-coat h2 {
    color: #fff000;
    border-bottom: 1px solid rgba(255, 215, 0, 0.3);
    padding-bottom: 5px;
    margin-top: 0;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.6);
}

.breed-coat p {
    color: white;
    line-height: 1.6;
}

.breed-character {
    background-color: rgba(33, 33, 33, 0.9);
    padding: 20px;
    margin-bottom: 25px;
    border-left: 5px solid #ff0096;
    border-radius: 5px;
}

.breed-character h2 {
    color: #fff000;
    border-bottom: 1px solid rgba(255, 215, 0, 0.3);
    padding-bottom: 5px;
    margin-top: 0;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.6);
}

.table {
    width: 100%;
    border-collapse: separate;
    margin-top: 15px;
    color: white;
    background-color: transparent;
    border-spacing: 0 8px;
}

.table th {
    color: #fff000;
    text-align: left;
    font-size: 1.1em;
}

.table td, .table th {
    padding: 12px 15px;
}

.table td:first-child {
    font-weight: bold;
    width: 30%;
}

.table tr {
    background-color: rgba(50, 50, 50, 0.9);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: filter 0.3s;
}

.table tr:hover {
    filter: brightness(1.2);
}

.breed-physical {
    background-color: rgba(33, 33, 33, 0.9);
    padding: 20px;
    margin-bottom: 25px;
    border-left: 5px solid #ff0096;
    border-radius: 5px;
}

.breed-physical h2 {
    color: #fff000;
    border-bottom: 1px solid rgba(255, 215, 0, 0.3);
    padding-bottom: 5px;
    margin-top: 0;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.6);
}

.breed-physical h5 {
    color: white;
    margin: 0;
}

.breed-health {
    background-color: rgba(33, 33, 33, 0.9);
    padding: 20px;
    margin-bottom: 25px;
    border-left: 5px solid #ff0096;
    border-radius: 5px;
}

.breed-health h2 {
    color: #fff000;
    border-bottom: 1px solid rgba(255, 215, 0, 0.3);
    padding-bottom: 5px;
    margin-top: 0;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.6);
}

.breed-health h4 {
    color: white;
    border-top: 2px solid white;
    padding-top: 20px;
    font-size: 18.72px;
    margin: 19px auto;
}

.breed-health p, h3 {
    color: white;
    line-height: 1.6;
}

.breed-health h5 {
    color: white;
    line-height: 1.5;
    border-top: 1px solid white;
    padding-top: 10px;
}

.sources {
    background-color: rgba(33, 33, 33, 0.9);
    padding: 20px;
    margin-bottom: 25px;
    border-left: 5px solid #ff0096;
    border-radius: 5px;
}

.sources h2 {
    color: #fff000;
    border-bottom: 1px solid rgba(255, 215, 0, 0.3);
    padding-bottom: 5px;
    margin-top: 0;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.6);
}

.sources p {
    color: white;
    line-height: 1.6;
}

.source-link {
    line-height: 1.8;
    margin-bottom: 10px;
    padding-left: 30px;
    color: #fff000;
}

.back-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #ff0096;
    color: white;
    border: 2px;
    border-style: solid;
    border-color: #ff0096;
    border-radius: 50px;
    padding: 10px 10px 13px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
    
    cursor: pointer;

    max-width: 45px;
    height: 45px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;

    transition: all 0.5s ease;

}

.back-button .arrow {
    font-size: 20px;
    line-height: 1;

}

.back-button .text {
    opacity: 0;
    transition: opacity 0.3s ease;
    
}

.back-button:hover {
    max-width: 250px;
    background-color: #fff000;
    color: black;
    box-shadow: 0 0 15px #ff0096;

.text {
    opacity: 1;
    transition-delay: 0.1s;
}
}

.menu {
    display: inline-block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  
}

.menu-button {
    background-color: #ff0096;
    border: 2px solid #ff0096;
    border-radius: 8px;
    padding: 10px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hamburger {
    width: 25px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff000;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    width: 150px;
    background-color: #ff0096;
    border: 2px solid #fff000;
    border-radius: 8px;
    margin-top: 8px;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.nav-button {
    display: block;
    color: #fff000;
    padding: 12px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #fff000;
    transition: all 0.3s ease;
}

.nav-button :last-child {
    border-bottom: none;
}

.menu:hover .menu-links {
    max-height: 300px;
    opacity: 1;
}

.menu:hover .menu-button {
    background-color: #fff000;

}

.menu:hover .hamburger span {
    background-color: #ff0096;
}

.nav-button:hover {
    background-color: #fff000;
    color: #ff0096;
    padding-left: 22px;
}

