* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url(catbg.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.welcome-box {
    max-width: 750px;
    width: 90%;
    margin: 80px auto;
    padding: 70px;
    text-align: center;

    background: rgba(0, 0, 0, 0.75); 
    box-shadow: 0 0 30px rgba(255, 0, 150, 0.8);
    border-radius: 15px;

h1 {
    color: #ff0096; 
    text-shadow: 0 0 20px #ff66cc;
}

p {
    color: white;
    line-height: 1.6;
}
}


.start-button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;

    background-color: #ff0096;
    color: #fff000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 0 20px #fff000;
    transition: background-color 0.15s,
    color 0.15s, transform 0.2s;

    cursor: pointer;

}

.start-button:hover{
    background-color: #fff000;
    color: #ff0096;
    opacity: white;
    box-shadow: 0 0 20px #ff0096;
    transform: translateY(-2px);
}

.start-button:active {
    opacity: white;
}
